.button__currency {
  width: 48%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  height: 3.5rem;
  background: #E7DBF7;
  margin: 0.250rem;

  :active {
    background: #d7c3f2;
  }
}

.button__currency.active {
  background: #d7c3f2;
}