.genericButton {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  background: #40E060;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  font-weight: 700;
  color: #ffffff;
  transition: 300ms;

  &:hover {
    background: #0BB489;
    transition: 300ms;
  }
}