.payment {
  width: 600px;
  padding: 2rem;
  border-radius: 12px;
  color: #373D46;
  background: var(--Gray-White, linear-gradient(180deg, #FFF 0%, #EAEAEA 100%));
}

.button__buy_token {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  background: #0BB489;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  font-weight: 700;
  color: #ffffff;
  transition: 300ms;

  &:hover {
    background: #0aa57e;
    transition: 300ms;
  } 
}

.button__cancel_order {
  height: 42px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(209, 16, 0, 0.77);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkbox__method {
  width: 22px;
  height: 22px;
  border: 2px solid #E1E1E1;
  border-radius: 2px;
  background-color: transparent;
}

.input__wallet_address {
  width: 100%;
  height: 36px;
  padding: 0.625rem;
  border-radius: 0.25rem;
  border-width: 2px;
  border-color: #D1D5DB;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #505050;
  background-color: transparent;
}

.text__out_via_exchange {
  color: rgba(127, 96, 191, 0.77);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.h1 {
  color: #331574;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

.h2 {
  color: #373D46;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
}

.text__info_banner {
  color: #7F60BF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  padding: 16px 0px;
}

.text__regular {
  color: #505050;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
