.navbar {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  background-color: #ffffff;
}

.connect_wallet {
  display: inline-flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  height: 36px;
  background: #0BB489;

  :hover {
    background: #0BB489;
    border-color: #0BB489;
  }
}

.navbar__list {
  height: 40px;
  color: #8060C8;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__item {
  color: #8060C8;
  padding: 8px 0px;
  margin: 0px 8px;
  display: inline-block;
  position: relative;
  opacity: 0.9;
}

.navbar__item:hover {
  opacity: 1;
}

.navbar__item::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #8060C8;
}

.navbar__item::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.navbar__item:hover::before {
  height: 2px;
}