.fixed_top {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #ffffff;
}

.navbar {
  $item-color: #8060C8;

  // TODO: think about how can I except using that
  // chunch because there is an opportunity to wrap 
  // the all components into special layout but the
  // navbar has to take up all the width of screen
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  display: flex;
  justify-content: space-between;
  height: 8rem;

  &__logo {
    padding-left: 1.75rem;
    padding-top: 2rem;
    width: 245px;
  }

  &__list {
    height: 40px;
    color: $item-color;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    color: $item-color;
    padding: 8px 0px;
    margin: 0px 8px;
    display: inline-block;
    position: relative;
    opacity: 0.9;

    &:hover {
      opacity: 1;

      &::before {
        height: 2px;
      }
    }

    &::before {
      transition: 300ms;
      content: "";
      position: absolute;
      background-color: $item-color;
    }

    &::before {
      height: 0%;
      width: 100%;
      bottom: 0px;
    }

    &__active {
      color: $item-color;
      padding: 8px 0px;
      margin: 0px 8px;
      display: inline-block;
      position: relative;
      opacity: 0.9;

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $item-color;
        height: 2px;
        width: 100%;
        bottom: 0px;
      }
    }
  }
}

.connect_wallet {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  background: #0BB489;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  font-weight: 700;
  color: #ffffff;
  transition: 300ms;

  &:hover {
    background: #0BB489;
    transition: 300ms;
  }
}